<li @key="@Key" class="text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9 hover:bg-indigo-600 hover:text-white"
    @onmousedown=@(async () => await ItemClicked.InvokeAsync(Key)) >
    <!--<span v-text="item.name"></span>-->
    <div class="flex items-center">
        <img src="@ImageUrl" alt="" class="flex-shrink-0 h-6 w-6 rounded-full">
        <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
        <span class="ml-3 block font-normal truncate">
            @Name
        </span>
    </div>

    <!--
      Checkmark, only display for selected option.

      Highlighted: "text-white", Not Highlighted: "text-indigo-600"
    -->
    <span class="absolute inset-y-0 right-0 flex items-center pr-4">
        <!-- Heroicon name: check -->
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
    </span>
</li>

@code {
    [Parameter]
    public string Key { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback<string> ItemClicked { get; set; }
}
