@*<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">BHello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">BLog out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <NavLink href="register">BRegister</NavLink>
        <NavLink href="login">BLog in</NavLink>
    </NotAuthorized>
</AuthorizeView>*@
