@page "/"
@namespace BlazorDualCore.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorDualCore</title>
    <base href="~/" />
    <link href="css/tailwind.css" rel="stylesheet" />
    <link href="BlazorDualCore.Client.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<Client.App>(RenderMode.Server))
    </app>
    
    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script type="module" src="js/wasmloader/loader.js"></script>
</body>
</html>
